CASPER_RPC=https://node.testnet.casper.network/rpc
CASPER_CHAIN=casper-test
CONTRACT_HASH=contract-24ca090961cafb32c6cb39bd6034d175c8e47002e1e32c20e8cf54ca9abb8d40
CONTRACT_PACKAGE_HASH=contract-package-279e6175282d814b28c02157feacea538a6d3ba4c76bb1b21b4c110d57e92d8a
CASPER_SECRET_KEY_PATH=/path/to/your/secret_key.pem
EBAY_CLIENT_ID=your_ebay_production_client_id
EBAY_CLIENT_SECRET=your_ebay_production_client_secret
EBAY_ENVIRONMENT=PRODUCTION
GROQ_API_KEY=your_groq_api_key
COMIC_VINE_API_KEY=your_comic_vine_api_key
